<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{context.sitename}}{% endblock %}</title>
        <script type="text/javascript">if (top !== self) top.location = self.location;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block author %}<meta name="author" content="{{ context.author }}" />{% endblock %}
        {% block beforestyle %}{% endblock %}
        {% block feed %}<link rel="alternate" type="application/rss+xml" href="{{context.feed}}" title="{{context.sitename}} Feed" />{% endblock %}
        <link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>
        <link rel="stylesheet" href="{{ static_url('css/github.css') }}"/>
        {% block afterstyle %}{% endblock %}
        {% include "google.js" %}
    </head>
    <body>
        {% block header %}
        <aside id="navbar">
        <h1><a id="nav-home" href="/">{{context.sitename}}</a></h1>
        {% block navigation %}
        <nav role="navigation">
        <ul>
            <li id="nav-archive"><a href="/archive.html">Archive</a></li>
            <li id="nav-life"><a href="/life/">Life</a></li>
            <li id="nav-work"><a href="/work/">Work</a></li>
            <li id="nav-thinking"><a href="/thinking/">Thinking</a></li>
            <li id="nav-tags"><a href="/tag/">Tags</a></li>
        </ul>
        </nav>
        {% endblock %}
        <p class="copy"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> <br /> Powered by <a href="http://lepture.com/project/liquidluck">Felix Felicis</a></p>
        </aside>
        {% endblock %}

        <div id="main" class="fn-clear">
            <div class="container">
                {% block main %}
                <article class="hentry">
                {% block entry %}{% endblock %}
                </article>
                {% block afterentry %}{% endblock %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
